/*Global*/
.navbar {
  background-color: #10a2c7;
  padding: 0;
}

section {
  height: 100vh !important;
}

body, .nav-link {
  color: #fff !important; }

.bg-primary {
  background-color: #10a2c7b0 !important;
  border: none; }

.btn-outline-light:hover {
  color: #10a2c7 !important;
  cursor: pointer; }

  .btn-outline-dark {
      color: #10a2c7;
      background-color: transparent;
      background-image: none;
      border-color: #10a2c7;
  }

  .btn-outline-dark:hover {
      color: #fff;
      background-color: #10a2c7;
      border-color: #10a2c7;
  }

  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #10a2c7;
    border-color: #10a2c7;
}
/* Nav */

.nav-link:hover {
  background-color: #fff;
  color: #10a2c7 !important;
  border: 0;
}

.active {
  background-color: #fff;
  color: #10a2c7 !important;
  border: 0;
}
/*Header*/
#home {
  background: linear-gradient(rgba(21, 22, 22, 0.45), rgba(21, 22, 22, 0.45)), url("../img/home.jpg") no-repeat center;
  min-height: 100vh;
  background-size: cover;
 }


.home-inner {
  padding: 15% 0;
}

.fa{
  color: #10a2c7;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

/*About Us*/
#about {
  background-color:#10a2c7;
}

#qa {
  background-color: #fff;
  color: #000;
}

#qa h1 {
  color:#10a2c7;
}

/*Newsletter*/
#news-letter {
  background-color: #10a2c7;
}

/* Classes */
#classes {
  background: linear-gradient(rgba(21, 22, 22, 0.555), rgba(21, 22, 22, 0.589)), url("../img/qurantwo.jpg") no-repeat center;
  height: 70vh;
  background-size: cover;
}
#classes h1 {
  color: #10a2c7;
}

#classes .box {
  
  color: #fff;
}

#classes .box img {
  width: 100%;
  height:auto;
}

#classes .box .box-content {
  padding: 0.5em;
  background-color: #10a2c7b0;
}

#classes .box-content h2 {
  text-transform: uppercase;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff;
}

/* Contact */
#contact {
  background-color: #10a2c7;
}